/* Navbar */
.navbar {
  background-color: #fff;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

/* Logo */
.logo {
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  left: 20px;
}

.purrs {
  text-decoration: none;
  color: inherit;
}

.ur {
  color: #54ae0f; /* Change this color to whatever you like */
}

.navLinks {
  display: flex;
}

.navLinks a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
}
